@charset "UTF-8";

/* footer */

.gl-footer {
  color: #3c3c3c;
  background: #fff
}

.gl-footer .area-inner {
  width: 67.5rem;
  margin: 0 auto
}

.gl-footer a {
  color: #3c3c3c
}

.gl-footer .logo-area .area-inner {
  display: flex;
  padding: 1.37109rem 0;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap
}

.gl-footer .logo-area .logo {
  width: 12.12891rem;
  margin: 0 0 0 2.26758rem
}

.gl-footer .logo-area .logo>a {
  position: relative;
  display: block
}

.gl-footer .logo-area .logo>a:before {
  display: block;
  padding: 16.95652% 0 0 0;
  content: ''
}

.gl-footer .logo-area .logo>a>img,
.gl-footer .logo-area .logo>a>picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%
}

.gl-footer .logo-area .address {
  font-size: .73828rem;
  font-weight: 300;
  line-height: 1em;
  margin: 0 0 0 1.6875rem;
  letter-spacing: 0
}

.gl-footer .menu-area {
  border: solid 1px #f2f3f5;
  border-right: none;
  border-left: none
}

.gl-footer .misc-area .area-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.gl-footer .misc-area .link-list {
  display: flex;
  padding: 1.5rem 0 2rem;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 1.5rem;
}


.gl-footer .misc-area .link-list>li:first-child {
  margin: 0
}

.gl-footer .misc-area .link-list>li>a {
  font-weight: 300;
  line-height: 1em;
  letter-spacing: 0
}

.gl-footer .misc-area .copyright {
  font-size: .52734rem;
  font-weight: 300;
  line-height: 1em;
  letter-spacing: 0
}


@media (min-width:769px) {

  .gl-footer .logo-area .logo>a {
    transition: opacity .3s
  }

  .gl-footer .logo-area .logo>a:hover {
    opacity: .7
  }

  .gl-footer .menu-area .menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap
  }

  .gl-footer .menu-area .menu .col {
    display: flex;
    width: 100%;
    border: solid 1px #f2f3f5;
    border-top: none;
    border-bottom: none;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap
  }

  .gl-footer .menu-area .menu .col .col-inner {
    height: 16.76953rem;
    padding: 1.58203rem 0 0;
  }

  .gl-footer .menu-area .menu .col:first-child .col-inner {
    padding: 2.00391rem 0 0;
  }

  .gl-footer .menu-area .menu .item {
    margin: 1.58203rem 0 0;
    line-height: 1;
  }

  .gl-footer .menu-area .menu .item:first-child {
    margin: 0;
  }

  .gl-footer .menu-area .menu .item>a {
    line-height: 1em;
    letter-spacing: 0
  }

  .gl-footer .menu-area .menu .item>a.link:hover {
    text-decoration: underline;
  }

}

@media (max-width:1080px) {
  .gl-footer {
    width: 1080px
  }
}

@media (max-width:768px) {
  .gl-footer {
    width: 100%;
    background: #edeef0
  }

  .gl-footer .area-inner {
    width: 100%
  }

  .gl-footer .logo-area .area-inner {
    display: block;
    padding: 1.10933rem 0 1.36533rem
  }

  .gl-footer .logo-area .logo {
    width: 12.33067rem;
    margin: 0 auto
  }

  .gl-footer .logo-area .logo>a {
    position: relative;
    display: block
  }

  .gl-footer .logo-area .logo>a:before {
    display: block;
    padding: 16.95502% 0 0 0;
    content: ''
  }

  .gl-footer .logo-area .logo>a>img,
  .gl-footer .logo-area .logo>a>picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
  }

  .gl-footer .logo-area .address {
    font-size: .68267rem;
    line-height: 1em;
    margin: .93867rem 0 0;
    text-align: center;
    letter-spacing: 0
  }

  .gl-footer .menu-area {
    border: none
  }

  .gl-footer .menu-area .menu {
    padding: 0 .85333rem
  }

  .gl-footer .menu-area .menu .item>a {
    font-size: .768rem;
    font-weight: 500;
    line-height: 1em;
    display: block;
    padding: 1.06667rem .85333rem;
    letter-spacing: 0;
    border-bottom: solid 1px #fff
  }

  .gl-footer .misc-area .area-inner {
    padding: 1.96267rem 0 1.36533rem
  }

  .gl-footer .misc-area .link-list {
    display: flex;
    margin: 0;
    padding: 0 .85333rem;
    justify-content: center;
    flex-wrap: nowrap
  }

  .gl-footer .misc-area .link-list>li {
    margin: 0 0 0 1.792rem;
    line-height: 1;
  }

  .gl-footer .misc-area .link-list>li>a {
    font-size: .59733rem;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: 0
  }

  .gl-footer .misc-area .copyright {
    font-size: .512rem;
    font-weight: 400;
    line-height: 1em;
    margin: .93867rem 0 0;
    text-align: center;
    letter-spacing: 0;
    color: #6e6e6e
  }
}